/*sections------------------------------------------------------------------- */
body {

    margin: 0;
    padding: 0;
    background-color: #dae0ef;
    font-family: Verdana, Geneva, sans-serif;
    color: #333;
    font-size: 1em;
    line-height: 1.2em;
}
#wrapper {
    max-width: 95%;
    margin: 0 auto;
    font-size: 1em;
    font-family: Verdana, "Oswald", Geneva, Tahoma, sans-serif;
}

#wrapper > * {
    border: 1px solid #000;
    padding: 0.75em;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

table, td {
    border: 1px solid #000;
    border-collapse: collapse;
}

  /* The grid settings for my website */

.banner {
    grid-area: banner;
}

.menu {
    grid-area: menu;
}

nav {
    grid-area: nav;
}

table {
    grid-area: table;
}

main  {
    grid-area: main;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}

#wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
     "banner"
     "menu"
     "nav"
     "table"
     "main"
     "aside"
     "footer";
  }

  @media (max-width: 48em) {
    table {
     display:none;
    }
    article {
        column-count: 2;
        column-width: 20em;
        column-gap: 1.5em;
        padding: 1em 2em 1em 0;
     }

     article h3 {
        color: #000;
        column-span: all;
     }

     img {
        min-width: 25%;
        max-width: 45%;
      }

      .banner {
        color: #fff;
        background: #dae0ef;
        padding: 1em 0 1em 1.25em;
      }
   }

  @media (min-width: 50em) {
  #wrapper {
    grid-template-columns: 3fr 6fr;
    grid-template-areas: 
      "banner  banner"
      "menu  menu"
      "nav  table"
      "aside  main"
      "footer  footer";
  }

    article {
        column-count: 3;
        column-width: 40em;
        column-gap: 3em;
        padding: 2em 4em 2em 0;
    }

    article h3 {
        color: #7f0606;
        column-span: all;
    }

    img {
        min-width: 50%;
        max-width: 75%;
      }

      .menu li {
        display: inline;
        margin: 0 1em 0 0;
      }

      .menu a {
        display: inline;
        padding: 0;
        border-bottom: 0;
      }

      .banner {
        color: #fff;
        background: #dae0ef;
        padding: 0 0 0 3em;
    }
}

      

@media (min-width: 1000px) {
    #wrapper {
      grid-template-columns: 1.5fr 4fr 2fr;
      grid-template-areas: 
        "banner  banner  banner"
        "menu  menu  menu"
        "nav  table  aside"
        "nav  main  aside"
        "footer  footer  footer";
     }

img {
    min-width: 80%;
    max-width: 95%;
  }

.menu li	{
    list-style-type: none;
    font-size: 18px;
    margin-left: 0px;
    margin-bottom: 20px;
}

.menu a {
    color: #000;
    padding: 5px;
    margin-right: 4px;
    text-decoration: none;
    border: 2px solid #0090D2;
    border-radius: 3px;
}

.menu a:hover {
        background-color: #004857;
        color: #071792;
    }

    .banner {
        color: #071792;
        background: #dae0ef;
    }
}
/*headings------------------------------------------------------------------- */
h1	{
    font-family: Verdana, "Oswald", Geneva, Tahoma, sans-serif;
    color: #7f0606;
    font-size: 3em;
    line-height: 2em;
}
h2	{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #7f0606;
    font-size: 24px;
    line-height: 50px;
}
h3 	{
    font-family: Verdana, "Oswald", Geneva, Tahoma, sans-serif;
    color: #7f0606;
    font-size: 1.5em;
    line-height: 1.7em;
}

h4 {
    font-family: Verdana, "Oswald", Geneva, Tahoma, sans-serif;
    color: #7f0606;
    font-size: 1.25em;
    line-height: 1.5em;
}
/*grouping------------------------------------------------------------------- */
p	{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #071792;
    font-size: 1.25rem;
    line-height: 1.4;
    margin: 10px 0 10px 0;
}

p.dropcap:first-letter {
    float: left;
    font-family: Verdana, "Oswald", Geneva, Tahoma, sans-serif;
    color: #071792;
    font-size: 5em;
    line-height: 1;
    margin: 8px 5px 0 0;
}
blockquote	{
}

table   {
    border: 5px solid #000;
    color: #071792;
    font-size: 14px;
}
.post {
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: #333;
}

.fltlt {
    float: left;
    margin-right: 8px;
}

.clear {
    clear: both;
}

.video-wrapper {
    max-width: 960px;
    margin: 0 auto;
    }
    iframe	{
    width: 100%;
    height: auto;
    }
    .video-container {
    position: relative;
    padding-bottom: 56.25%; /*16:9 */
    height: 0; 
    }
    .video-container iframe {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100%;
    height: 100%;
}
/*lists---------------------------------------------------------------------- */
ul	{
}
li	{
    color: #071792;
}
ol	{
    color: #071792;
}
dl	{
    color: #071792;
}
dt	{
}
dd	{
}
/*text------------------------------------------------------------------------ */
em	{
}
strong	{
}
small	{
    color: #071792;
}
cite	{
    color: #071792;
}
time	{
}

label {
    display: block;
    color: #071792;
}

input {
    display: block;
    color: #071792;
}

legend {
    color: #071792;
}

textarea {
    min-width: 10em;
    max-width: 70em;
}
/*image----------------------------------------------------------------------- */
figure	{
    color: #071792;
}
figcaption	{
    color: #071792;
}

.banner-fluid {
    width: 100%;
    max-width: 900px;
}
/*anchors--------------------------------------------------------------------- */
a:link, a:visited, a:active	{
    color: #004857;
}
a:hover {
    color: #004857;
    text-decoration: none;
}